// Place all the styles related to the Api/Memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-members-list {
  padding-left: 15px;
}

.member {
  padding-top:12px;
  color: #3a87ad;
  padding-bottom: 12px;
  border-bottom: 1px solid;

}
