// Place all the styles related to the Api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$airred: #ff5a5f;
$airblue: #00a699;
$airbgcolor: #edefed;
$airftcolor: #2b2d2e;
$airgrey: #cdd0cc;
$airgrey2: #dce0e0;

* {
  position: relative;
  box-sizing: border-box;
  }

body {
  background: url(http://res.cloudinary.com/ashcon/image/upload/v1472701231/brazil-homepage_h4ivzz.jpg);
}

.login-form-container{
  background: url(http://res.cloudinary.com/ashcon/image/upload/v1476121851/backgroundplaceit_gpjskn.png);
  margin: 50px auto;
  display: block;
  width: 400px;
  }

.login-form-box {
    border: 1px solid #cdd0cc;
    padding: 1em;
    background-color: white;
    border-radius: 3px;
    padding-left: 16%;
    padding-bottom: 5%;
}

.form-text-detail {
  color: black;
  font-size: 12px;
}

.login-title {
  color: red;
}

.login-form {
  margin-top: -18px;
  margin-bottom: 18px;
}


.login-input{
  margin: 4px;
  margin-right: 56px;
  margin-top: 5px;
  width: 170px;
}

.login-title{
  font-size: 1.8em;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: .1em solid #cdd0cc;
  padding-bottom: .5em;
}

.enter-button {
    margin-top: 8px;
    background-color: #56b68b;
    border: 0px;
    border-radius: 5px;
    color: white;
    padding: 4px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

.demo-button {
    margin-top: 8px;
    background-color: #fcaa35;
    border: 0px;
    border-radius: 5px;
    color: white;
    padding: 4px;
    width: 173px;
    height: 40px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    margin-left: 0px;

}
.demo-button:hover {
    cursor: pointer;
}
